{% extends "basic.html" %}
{% load static %}

{% block title %} About of Masfir {% endblock title %}

{% block body %}

<section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
        <p class="fst-italic"><b>Hello!<br><span class="typed" data-typed-items="Greetings from me."></span></b><br>I am Masfir Ahmed Shezan. 
          I completed my Bsc in Computer Science & Engineering (CSE) from Sonargaon University of Dhaka, Bangladesh.<br>
          I am a web developer by using Python & Django. My aim is to become a <b>full stack web developer and developing various project.</b><br>
          I always look for challenges where I can use my potential at most and always love to work on innovation technologies.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-2" data-aos="fade-right">
          <img src="{% static 'assets/img/profile.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-2 pt-lg-0 content" data-aos="fade-left">
          <h3 class="pb-2">My Technical Skills</h3>          
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Python</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Django</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>MySQL</strong></li>
                               
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>HTML-5</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>CSS</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>BOOTSTRAP</strong></li>
                
              </ul>
            </div>
          </div>
          <h3 class="pb-2">My Personal Details</h3>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Full Name:</strong> <span>Masfir Ahmed Shezan</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Date Of Birth:</strong> <span>20 March 1999</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Religion:</strong> <span>Islam</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Nationality:</strong> <span>Bangladeshi</span></li>
                
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Present Address:</strong><span><a href="google_map" target="_blank">119/9, Distilary Road, Dhaka-1204</a></span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>permanent Address:</strong><span><a href="google_map" target="_blank">119/9, Distilary Road, Dhaka-1204</a></span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Mail:</strong> <span>masfircse1999@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Mobile Number:</strong> <span>01988149760</span></li>                
              </ul>
            </div>
          </div>            
            <h3 class="pb-2">My Educational Qualification</h3>
              <p><i class="bi bi-chevron-right"></i><b>Completed Bsc in Computer Science & Engineering from Sonargaon University.<br>Duration: 2018-2022</b></p>
              <p><i class="bi bi-chevron-right"></i><b>Completed HSC in Science from Habibullah Bahar University College.<br>Duration: 2016-2018</b></p>
              <p><i class="bi bi-chevron-right"></i><b>Completed SSC in Science from Dhaka Government Muslim High School.<br>Duration: 2016</b></p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

{% endblock body %}